<!--<div style="background-color: bisque; height: 500px;">-->
<div ng-controller="homeController">
    <!--轮播-->
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="http://p0.meituan.net/mmc/d07da69a08cdcd1dd6dec6d1ea5ca220179271.jpg.webp">
            </div>
            <div class="item">
                <img src="http://p0.meituan.net/mmc/d330959448292b6528e01c603538a09a164610.jpg.webp">
            </div>
            <div class="item">
                <img src="http://p1.meituan.net/mmc/64fad7974cfd6c2136a31fa2bd8b4682129029.jpg">
            </div>
            <div class="item">
                <img src="http://p0.meituan.net/mmc/81fc61644a836fdd828aef5eda93a6e6116066.jpg">
            </div>
            <div class="item">
                <img src="http://p0.meituan.net/mmc/adf12a2daa6450c92a30d2662db8b96d178270.jpg.webp">
            </div>
            <!-- 		<div style="background:#eee;">
                        <img src="img/slide.png" alt="第三张">
                    </div> -->
        </div>
        <a href="#myCarousel" data-slide="prev" class="carousel-control left">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#myCarousel" data-slide="next" class="carousel-control right">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!--电影列表-->
    <div>
        <div style="color: red;font-size: 20px;margin-left: 50px;margin-top: 20px;">
            {{ data.title }}
        </div>
        <div>
            <div class="movie-list">

                <div class="movie-item" ng-repeat="c in comingdata | filter : {'title':searchMovie }"">
                    <!--<a ui-sref="navs.moviedetail.info">-->
                    <a class="coming">
                        <img ng-src="{{ c.images.large | replaceImgURL:200:400 }}" class="img-item" />
                        <p>
                            {{ c.title }}
                        </p>
                    </a>
                    <div class="movie-rating">
                        <b class="big"> {{ getBigRating(c.rating.average) }} </b>
                        <b class="small"> {{ getSmallRating(c.rating.average) }} </b>
                    </div>
                    <!--<a class="tikect" href="http://www.meituan.com/dianying/249898?#content">-->
                    <a class="tikect" ng-click="Login()">
                        购票
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!--登陆注册框-->
    <div class="loginBg" ng-show="isLogin">
        <div class="login">
            <button type="button" class="close" style="display: block;position: absolute;right: 30.5%;top: 170px" ng-click="myClose()">&times;</button>
            <form class="form-horizontal" role="form" style="margin-top: 30px">
                <span style="display:block;padding-top: 16px;padding-bottom: 14px;">账户登录</span>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="margin-left: 10px">手机号</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="focusedInput" type="text" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="margin-left: 10px">密码</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" placeholder="请输入密码">
                    </div>
                </div>

                <div>
                    <a href="http://www.meituan.com/dianying/249898?#content" ng-click="myLogin()"><button type="button" class="btn btn-success">登 &nbsp;&nbsp;录</button></a>
                </div>
                <span style="display: block;margin-top: 20px">还没有账号? <a style="color: red" ng-click="Register()">免费注册</a></span>
            </form>
        </div>
    </div>
    <div class="loginBg" ng-show="isregister">
        <div class="register">
            <button type="button" class="close" style="display: block;position: absolute;right: 31%;top: 190px" ng-click="myClose()">&times;</button>
            <form class="form-horizontal" role="form" style="margin-top: 30px">
                <span style="display:block;padding-top: 16px;padding-bottom: 14px;">账户注册</span>
                <div class="form-group" style="padding-top: 30px">
                    <label class="col-sm-2 control-label" style="margin-left: 10px">手机号</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" placeholder="请输入手机号">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="margin-left: 10px">创建密码</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="margin-left: 10px">确认密码</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="password" placeholder="请输入密码">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-success" ng-click="reLogin()">同意以下协议并注册</button>
                </div>
                <span style="display: block;margin-top: 15px;color: red;font-size: 12px">《美团网用户协议》</span>
            </form>
        </div>
    </div>
</div>