<div ng-controller="ListController as ctrl" ng-cloak>
	<h3 style="margin-top: 0;color: red;margin-left: 20px;padding-top: 20px">正在热映</h3>

	<div class="list-group">

		<a ng-href="#/navs/moviedetail/{{ ctrl.id }}/info" class="list-group-item" ng-repeat="list in boarddata">
			<div class="media">
				<span class="badge pull-right">
					{{ list.mk }}
				</span>
				<div class="media-left">
					<img ng-src="{{ list.img }}" class="media-object"/>
				</div>
				<div class="media-body">
					<p>
					<h3 class="media-heading">{{ list.nm }}</h3>
					</p>
					<p class="caption">
						导演：
						<!--<span ng-repeat="director in list.dir">-->
							<!--{{ director.name }} {{ $last? '' : '、' }}-->
						<!--</span>-->
						<span>
							{{ list.dir }}
						</span>
					</p>
					<p class="caption">
						类型：{{ list.cat }}
					</p>
				</div>
			</div>
		</a>
	</div>

	<!--<ul class="pager">-->
		<!--<li><a href="" ng-click="nextPage(false)">上一页</a></li>-->
		<!--<li><a href="" ng-click="nextPage(true)">下一页</a></li>-->
	<!--</ul>-->

	<!--<p>-->
		<!--总共：{{ ctrl.total || 0 }} 条-->
	<!--</p>-->


	<!-- 模态框（Modal）作为加载提示 -->
	<!--<div class="modal fade" style="display: block;" ng-if="ctrl.loading" ng-class="{in:true}">-->
		<!--<div class="modal-dialog">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal">×</button>-->
					<!--<h4 class="modal-title">正在加载...</h4>-->
				<!--</div>-->
				<!--<div class="modal-body">-->

					<!--&lt;!&ndash;进度条&ndash;&gt;-->
					<!--<div class="progress progress-striped">-->
						<!--<div class="progress-bar progress-bar-success active" role="progressbar"-->
							 <!--aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"-->
							 <!--style="width: 100%;">-->
							<!--<span class="sr-only">100% 完成（成功）</span>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
</div>